<section class="flex-container">
  <a href="#" id="scan" class="button flex-item">
    Scan
  </a>
  <a href="#" id="write" class="button flex-item">
    Write
  </a>
</section>
<section id="logs" class="full-width preformatted">
<p>...</p>
</section>


<script>
  window.apiUrl = "<%= @api_url %>";
</script>